.container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 173, 181);
    margin: 20px;
    margin-top: 0px;
    padding: 10px;
    border-radius: 4px;
    border: 2px solid rgb(0, 173, 181);
    width: 100%;
}

.content{
    display: flex;
    flex-direction: column;
}

.text{
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.top{
    font-size: 1.5em;
}

@media screen and (max-width: 900px){
    .container{
        margin: 10px 0px;
        margin-top: 0px;
    }
    .top{
        font-size: 1.2em;
    }
}