.container{
    width: 100%;
}

.submit{
    margin: 10px;
    margin-top: 20px;
    display: flex;
}

.button{
    width: 100%;
    border: none;
    background-color: rgb(0, 173, 181);
    border-radius: 8px;
    font-size: 18px;
    color: white;
    padding: 8px;
}