.card{
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
    margin: 20px;
    padding: 10px 20px;
    height: auto;
}

.title{
    font-weight: 600;
    font-size: 1.7rem;
}

.details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    z-index: -1;
    height: 100%;
}

.content{
    font-size: 1em;
    padding: 1px 0px;
}

.link{
    color: rgb(0, 173, 181);
    font-weight: bold;
    text-decoration: none;
}

@media screen and (max-width: 900px){
    .title{
        font-size: 1.4rem;
    }
    .card{
        margin: 15px 0px;
    }
}