.container{
    display: flex;
    flex-direction: column;
}

.section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 40vh;
    margin: 10px 0px;
}

.form{
    min-width: 500px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgb(238, 238, 238);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
}

.submit{
    background-color: rgb(0, 173, 181);
    padding: 3px;
    border-radius: 10px;
    border: rgb(0, 173, 181) solid 2px;
    color: white;
    width: 100%;
    font-weight: 500;
    font-size: 1.4em;
    cursor: pointer;
}

.btn{
    margin: 10px;
}

@media screen and (max-width: 900px), (orientation: landscape) and (max-device-width: 1180px){
    .form{
        min-width: auto;
        max-width: 500px;
        min-height: auto;
        width: 100%;
    }
    .container{
        height: auto;
        overflow: hidden;
    }
    .section{
        width: 100%;
        margin: 10px 0px;
    } 
}