.footer{
    width: 100%;
    height: 10vh;
    z-index: 1;
    padding: 2px 0px;
    border-top: solid grey 1.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(250, 250, 250);
}

.credit{
    text-align: center;
    color: rgba(57, 62, 70, 0.9);
    font-size: 0.9em;
    font-weight: 600;
    text-decoration: none;
}

@media screen and (max-width:480px) {
    .credit{
        font-size: 15px;
    }
}