* {
  font-family: 'Cairo', sans-serif;
  color: rgb(34, 40, 49);
  user-select: none;
  direction: rtl;
  /* lazer */
  /* border: 1px solid red; */
}

body{
  overflow-x: hidden;
}

html, body {
  margin: 0;
  padding: 0;
}

button{
  cursor: pointer;
}

input { -webkit-user-select:text;}

  /*
  Color Pallete:
  rgb(34, 40, 49) Black
  rgb(57, 62, 70) Blackish
  rgb(0, 173, 181) Green
  rgb(238, 238, 238) White
  */
