* {
  font-family: 'Cairo', sans-serif;
  color: rgb(34, 40, 49);
  user-select: none;
}

body{
  margin: 0%;
  overflow-x: hidden;
}

button{
  cursor: pointer;
}

input { -webkit-user-select:text;}

  /*
  Color Pallete:
  rgb(34, 40, 49) Black
  rgb(57, 62, 70) Blackish
  rgb(0, 173, 181) Green
  rgb(238, 238, 238) White
  */
