.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title{
    font-size: 6rem;
    font-weight: bold;
    margin: 15px 0px;
}

.description{
    font-size: 1.4rem;
    color: rgb(57, 62, 70);
    margin: 10px 0px;
    max-width: 900px;
    text-align: justify;
}

@media screen and (max-width: 900px), (orientation: landscape) and (max-width: 1180px){
    .title{
        font-size: 3.5rem;
        text-align: center;
        margin: 25px 0px;
    }
    .description{
        font-size: 1rem;
        margin-top: 25px;
        margin-bottom: 25px;
        width: auto;
    }
}