.container{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 300px;
    background-color: #fcfcfc;
    border: rgb(200, 200, 200) solid 1px;
    border-radius: 10px;
    overflow: hidden;
}

.wrapper{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.pic{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid grey;
}

.avatar{
    border-radius: 50%;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 173, 181);
}

.name{
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.role{
    font-size: 15px;
    color: white;
}

@media screen and (max-width: 900px){
    .container{
        width: 100%;
        padding: 0px;
        margin: 5px 0px;
    }
    .pic{
        width: 75px;
        height: 75px;
        border-radius: 50%;
        border: 1px solid grey;
    }
    .avatar{
        border-radius: 50%;
    }
    .info{
        flex: 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
}
