.card{
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
    margin: 20px;
    padding: 10px 20px;
}

.cardHeader{
    font-weight: 600;
    font-size: 1.7rem;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.7rem;
    margin: 20px;
    text-align: center;
}

@media screen and (max-width: 900px){
    .cardHeader{
        font-size: 1.5rem;
    }
    .card{
        margin: 20px 0px;
    }
    .intro{
        font-size: 1rem;
        margin: 20px 0px;
    }
}

@media screen and (max-width: 1200px){
    .buttons{
        flex-wrap: wrap;
    }
}